.reservation-form-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reservation-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reservation-form-container p {
    margin-bottom: 15px;
}

.reservation-form-container label {
    display: block;
    font-weight: bold;
    font-size: 15px;
}

.reservation-form-container input,
.reservation-form-container select {
    width: 100%;
    padding: 8px 0;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reservation-submit-button {
    background: #0073aa;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.reservation-submit-button:hover {
    background: #005a87;
}

#calendar {
    /* max-width: 600px; */
    margin: 0 auto;
}


.fc-event {
    background-color: #28a745; /* Green for available slots */
    color: white;
}

.fc-event.reserved {
    background-color: #9797a5; /* Gray for reserved slots */
}

.fc-event.selected {
    background-color: rgb(26, 151, 197); 
}
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.fc .fc-toolbar-title {
    font-size: 20px;
    margin: 0;
}

.fc .fc-button {
    font-size: 12px;
}

#calendar {
    width: 100% !important;
    max-width: 100%;
}
.fc {
    width: 100% !important;
}

.fc table{
    font-size: 15px;
}

/* Thank you page */
.check-icon {
    width: 60px;
    height: 60px;
    background: #4caf50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.thank-you-container{
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 90%;
    margin: auto;
}

.check-icon::before {
    content: '✓';
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.thank-you-container h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

.thank-you-container p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.thank-you-container .btn {
    display: inline-block;
    padding: 12px 30px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.fc-col-header{
    width: 100% !important;
}

.fc-col-header-cell-cushion{
    font-size: 13px !important;
}