.reservation-form-container {
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.reservation-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reservation-form-container p {
    margin-bottom: 15px;
}

.reservation-form-container label {
    display: block;
    font-weight: bold;
}

.reservation-form-container input,
.reservation-form-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reservation-submit-button {
    background: #0073aa;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.reservation-submit-button:hover {
    background: #005a87;
}

#calendar {
    /* max-width: 600px; */
    margin: 0 auto;
}


.fc-event {
    background-color: #28a745; /* Green for available slots */
    color: white;
}

.fc-event.reserved {
    background-color: #9797a5; /* Gray for reserved slots */
}

.fc-event.selected {
    background-color: rgb(26, 151, 197); 
}
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    margin: 0;
}

.fc .fc-button {
    font-size: .9em;
}

#calendar {
    width: 100% !important;
    max-width: 100%;
}
.fc {
    width: 100% !important;
}